.filter-box {
  width: 300px;
  height: 265px;

  display: flex;


  position: absolute;
  top: 100%;
  left: 7%;
  bottom: 0%;
  z-index: 2;

  font-size: 0.85rem;
  background: var(--clr-white);
  box-shadow: 2px 5px 10px 0px var(--clr-black);
}

.filter-box__left {
  background: var(--clr-bg);
  flex: 1.5;
}

.filter-box__right {
  flex: 1;
}

.filter-box__title {
  padding: 1em;
  font-weight: 600;
}

.filter-box__item {
  cursor: pointer;
  list-style: none;
  padding: 0.2em 1em;
  margin: 0.2em auto;
}

.filter-box__item:hover,
.filter-box__item:focus {
  background: var(--clr-gray);
  color: var(--clr-white);
}

.active {
  background: var(--clr-gray);
  color: var(--clr-white);
}